/* ========== section: 메인 비주얼 ========== */
#mainVisualSec{
  height: calc(100vh - 100px);
  padding: 0;
  margin-bottom: 60px;
}
#mainSwiper{
  height: 100%;
}
.main-visual-slide{
  height: 100%;
  position: relative;
}
.mo-main-visual-slide{
  display: none;
}
.main-visual-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main-visual-txt-wrap{
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0) 100%);
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 0;
}
.main-visual-txt-wrap :where(h2, p){
  transform: translateY(48px);
  opacity: 0;
  transition-delay: var(--transition-015);
  transition-duration: 1s;
}
.main-visual-txt-wrap p{
  font-size: var(--fs-20);
}
.swiper-slide-active .main-visual-txt-wrap :where(h2, p){
  transform: translateY(0);
  opacity: 1;
}
#mainSwiper iframe{
  height: 100%;
  pointer-events: none;
}
#player-controls{
  display: none;
}
#mainSwiper .swiper-navi-wrap{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  bottom: 48px;
}
#mainSwiper .swiper-navi-wrap > *{
  position: static;
  margin: 0;
}
#mainSwiper .swiper-pagination{
  width: 48px;
  font-size: var(--fs-18);
  font-weight: 600;
  color: var(--white);
}
#mainSwiper .swiper-pagination-total{
  opacity: 0.5;
}
#mainSwiper [class*="swiper-button"]{
  width: 18px;
  height: 18px;
  color: var(--white);
}
.swiper-scroll-wrap{
  display: none;
}



/* ========== section: 13개 마을 소개 ========== */
#townSec .inner{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 72px;
}
#townSec .inner hr{ /* 모바일에서 숨기기 */
  flex: 1;
}
#townSec .inner .title--s{ /* 모바일에서 숨기기 */
  color: var(--gray-700);
}
.townSec__content{
  position: relative;
}
.bg-illust-wrap{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bg-illust-wrap img{
  position: absolute;
}
.bg-illust-wrap img:nth-child(1), .bg-illust-wrap img:nth-child(2), .bg-illust-wrap img:nth-child(3){
  width: 60px;  /* 모바일에서 45px */
}
.bg-illust-wrap img:nth-child(4), .bg-illust-wrap img:nth-child(5){
  width: 90px; /* 모바일에서 80px */
}
.bg-illust-wrap img:nth-child(1){ /* 모바일에서 숨기기 */
  top: 10%;
  left: 10%;
}
.bg-illust-wrap img:nth-child(2){ /* 모바일에서 위치 재조정 */
  top: 15%;
  left: 65%;
}
.bg-illust-wrap img:nth-child(3){ /* 모바일에서 숨기기 */
  top: 40%;
  left: 5%;
}
.bg-illust-wrap img:nth-child(4){ /* 모바일에서 위치 재조정 */
  top: 60%;
  left: 80%;
}
.bg-illust-wrap img:nth-child(5){ /* 모바일에서 위치 재조정 */
  top: 80%;
  left: 40%;
}
#townSwiper{
  height: 660px;  /* 모바일에서 400px */
  padding: 0 calc((100% - var(--inner)) / 2);
}
#townSwiper .swiper-slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;  /* 모바일에서 12px */
}
#townSwiper .swiper-slide.align--top{
  justify-content: flex-start;
}
#townSwiper .swiper-slide.align--bottom{
  justify-content: flex-end;
}
#townSwiper .swiper-slide p{
  color: var(--gray-600);
}



/* ========== section: 카름 시그니처 슬라이드 ========== */
.signature-title{ /* 모바일에서 숨김 */
  width: var(--inner);
  margin: 0 auto;
  font-size: 8.22vw;
  font-weight: 700;
  color: var(--yellow);
  text-align: center;
  line-height: 0.7;
}
.signatureSec__content{
  padding: 96px 0;  /* 모바일에서 변경 */
  background-color: var(--yellow);
}
#signatureSwiper{
  position: relative;
}
.signature-slide{ /* 모바일에서 숨김 */
  background-color: var(--yellow);
  display: flex;
  justify-content: space-between;
}
.signature-desc-wrap{
  width: 420px;
}
.signature-desc-wrap h2{
  margin: 40px 0 24px 0;
  line-height: 120%;
}
.signature-desc-wrap p{
  font-size: var(--fs-20);
  color: var(--gray-800);
  line-height: 160%;
}
.signature-desc-wrap .signature-desc__tag{
  font-size: var(--fs-16);
  color: var(--orange-400);
  margin: 30px 0;
}
.mo-signature-slide{ /* 모바일에서 보이게 */
  display: none;
}
#signatureSwiper .swiper-navi-wrap{
  width: 420px;
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
}
#signatureSwiper .swiper-navi-wrap *{
  position: static;
}
#signatureSwiper .swiper-scrollbar{
  flex: 1;
  background-color: var(--white);
}
#signatureSwiper .swiper-scrollbar-drag{
  background-color: var(--orange-500);
}
#signatureSwiper .swiper-btn-wrap{
  display: flex;
  align-items: center;
  gap: 24px;
}
#signatureSwiper :where(.swiper-button-prev, .swiper-button-next){
  width: 16px;
  height: unset;
  aspect-ratio: 1 / 1;
  color: var(--orange-500);
  margin: 0;
}



/* ========== section: 마을 패키지 & 투어 ========== */
/* ========== section: 원데이클래스 ========== */
/* ========== section: 카름 마스터 ========== */
/* ========== section: 머무르게 하는 것들 ========== */
/* ========== section: 소식과 공지사항 ========== */
/* ========== section: 인스타 ========== */





/* ========== Responsive: Laptop ========== */
@media all and (max-width: 1780px){
  
}





/* ========== Responsive: Tablet ========== */
@media all and (max-width: 1280px){
  /* ===== section: 메인 비주얼 ===== */
  /* ===== section: 13개 마을 소개 ===== */
  /* ===== section: 카름 시그니처 슬라이드 ===== */
  /* ===== section: 마을 패키지 & 투어 ===== */
  /* ===== section: 원데이클래스 ===== */
  /* ===== section: 카름 마스터 ===== */
  /* ===== section: 머무르게 하는 것들 ===== */
  /* ===== section: 소식과 공지사항 ===== */
  /* ===== section: 인스타 ===== */
}





/* ========== Responsive: Mobile ========== */
@media all and (max-width: 768px){
  /* ===== section: 메인 비주얼 ===== */
  #mainVisualSec{
    height: calc(100vh - 72px);
  }
  .main-visual-slide{
    display: none;
  }
  .mo-main-visual-slide{
    display: block;
  }
  .main-visual-txt-wrap{
    padding-left: calc((100% - var(--inner)) / 2);
    padding-bottom: 64px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
    text-align: left;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .swiper-slide-active .main-visual-txt-wrap{
    transform: translateY(0);
  }
  .main-visual-txt-wrap :where(h4, p){
    transform: translateX(48px);
    opacity: 0;
    transition-delay: var(--transition-015);
    transition-duration: 1s;
  }
  .main-visual-txt-wrap p{
    font-size: var(--fs-18);
  }
  .swiper-slide-active .main-visual-txt-wrap :where(h4, p){
    transform: translateX(0);
    opacity: 1;
  }
  #mainSwiper .swiper-navi-wrap{
    width: 56px;
    height: 24px;
    right: calc((100% - var(--inner)) / 2);
    bottom: 32px;
  }
  #mainSwiper .swiper-pagination{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    font-size: var(--fs-15);
    line-height: 24px;
  }
  #mainSwiper [class*="swiper-button"]{
    display: none;
  }
  .swiper-scroll-wrap{
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .swiper-scroll-wrap span{
    width: calc(100% / 8);
    height: 100%;
    background-color: var(--orange-500);
    position: absolute;
    top: 0;
    /* left: 0; 임시값 - 추후 css 삭제 */
    transition-duration: var(--transition-025);
  }



  /* ===== section: 13개 마을 소개 ===== */
  #townSec .inner{
    margin-bottom: 36px;
  }
  #townSec .inner h3{
    font-size: 26px;
  }
  #townSec .inner :where(hr, .title--s){
    display: none;
  }
  .bg-illust-wrap img:nth-child(1), .bg-illust-wrap img:nth-child(3){
    display: none;
  }
  .bg-illust-wrap img:nth-child(2){
    width: 45px;
  }
  .bg-illust-wrap img:nth-child(4), .bg-illust-wrap img:nth-child(5){
    width: 80px;
  }
  .bg-illust-wrap img:nth-child(2){
    top: 0;
    left: 75%;
  }
  .bg-illust-wrap img:nth-child(4){
    top: 45%;
    left: 5%;
  }
  .bg-illust-wrap img:nth-child(5){
    top: 80%;
    left: 50%;
  }
  #townSwiper{
    height: 400px;
  }
  #townSwiper .swiper-slide{
    gap: 12px;
  }
  #townSwiper .swiper-slide.align--top{
    justify-content: flex-start;
  }
  #townSwiper .swiper-slide.align--bottom{
    justify-content: flex-end;
  }
  #townSwiper .swiper-slide h4{
    font-size: 18px;
  }
  /* ===== section: 카름 시그니처 슬라이드 ===== */
  /* ===== section: 마을 패키지 & 투어 ===== */
  /* ===== section: 원데이클래스 ===== */
  /* ===== section: 카름 마스터 ===== */
  /* ===== section: 머무르게 하는 것들 ===== */
  /* ===== section: 소식과 공지사항 ===== */
  /* ===== section: 인스타 ===== */
}